.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.f-18{
  font-size: 18px;
}

.f-24{
  font-size: 24px;
}


.login-logo{
  box-shadow: 2px gray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.community{
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}
.login-button{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 12px;
    background-color: #f45046;
    border-radius: 15px;
    padding: 10px;
    color: white;
    width: 8rem;
    box-shadow: 3px 2px 8px rgba(0,0,0,.15);
}


.login-text h2{
  font-size: 20px;
  text-overflow: ellipsis;
  width: 196px;
  overflow: hidden;
  white-space: nowrap;
}

.login-text h3{
  text-overflow: ellipsis;
  font-size: 13px;
}

.left-side{
  padding: 0 40px 40px;
  max-width: 316px;
  text-align: center;
}
.Plutonn-logo:hover, .login-logo:hover{
cursor: pointer;
}

.smile-img{
  transform: rotate(90deg);
  position: absolute;
    top: -8px;
    left: 220px;

}
.login-text-wrapper{
  padding-top: 1rem;
  
  border-radius: 15px;
  box-shadow: 4px 2px 16px rgba(0,0,0,.15);
  padding: 2rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
